.menu-scene-ui {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  background-image: url("/backgrounds/menu-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.menu-form-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  backdrop-filter: blur(5px) brightness(60%) grayscale(0.5);
}

.skin-select {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  max-height: 300px;
}

.skin-select__item {
  padding: 10px;
  margin: 10px;
  border: 2px dotted #7c3fa5;
  border-radius: 5px;
  cursor: pointer;
}

.skin-select__item.active {
  background-color: #e1bff6;
}

.skin-select__item:not(.active):hover {
  background-color: #ede4f3;
}

.skin-select__item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
